.loadingPage{
    height: calc(100% - 90px);
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.loadingText{
    color: white;
    font-size: 30px;
}